<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Microblog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
    <script th:src="@{https://code.jquery.com/jquery-3.4.1.slim.min.js}"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js}"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js}"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>

<body>
<div class="jumbotron-fluid" id="headerBox">
    <div>
        <p class="header"> &nbsp;&nbsp;&nbsp;&nbsp;Microblog </p>
    </div>
</div>
<div id="container">
    <div sec:authorize="isAnonymous()">
        <p class="welcome">Welcome to the Microblog</p>
    </div>
    <div sec:authorize="isAuthenticated()">
        <p class="welcome" th:text ="'Welcome back to Microblog, ' + ${#authentication.name}"></p>
    </div>
    <button sec:authorize="isAnonymous()" type="submit" class="btn btn-primary" id="registrationButton"
            onclick="location.href = 'Microblog/Registration';">
        Sign up
    </button>
    <button sec:authorize="isAnonymous()" type="submit" class="btn btn-primary" id="loginButton"
            onclick="location.href = 'Microblog/Login';">
        Sign in
    </button>
    <br> <br>
    <form action="Microblog/Posts" method="post">
        <button type="submit" class="btn btn-primary">View posts</button>
    </form>
    <br>
    <button sec:authorize="isAuthenticated()" type="submit" class="btn btn-primary" id="logoutButtom"
            onclick="location.href = '/logout';">
        Sign Out
    </button>
</div>
</body>

</html>